/* wpcd-admin.css */

tr.field-wrapper td.checkbox-wrapper{
  width: 50px;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #ccc;
}

ul.disc{
  padding-inline-start: 40px;
  list-style: disc;
}

li.queued {
  color: #ccc;
}

li.sending{
  color: #333;
}

li.success{
  color: #5A5;
}
li.success:before{
  content:"\2714 ";
}
li.error{
  color: #C55;
}
li.error:before{
  content:"\26A0 ";
}
